[submodule "DoorGym-Unity"]
	path = DoorGym-Unity
	url = https://github.com/PSVL/DoorGym-Unity.git
[submodule "ikfastpy"]
	path = ikfastpy
	url = git@github.com:kuolunwang/ikfastpy.git
[submodule "catkin_ws/src/husky_ur5"]
	path = catkin_ws/src/husky_ur5
	url = git@github.com:kuolunwang/husky_ur5.git
